<% if @shelves.any? %>
  <table class="shelves">
    <% @shelves.each do |shelf| %>
      <tr>
        <td>
          <div class="shelf-name"><span><%= shelf.name %></span></div>
          <% shelf.products.each do |product| %>
            <%= link_to shelf_product_path(shelf, product) do %>
              <%= image_tag(product.image_url, size: '150x150', title: product.name, class: 'product-img') %>
            <% end %>
          <% end %>
          <%= link_to "+", product_search_path(shelf_id: shelf.id), class: 'add-product' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="add-new-shelf">
        Add New Shelf
      </td>
    </tr>
  </table>
<% else %>
  <p>No shelves created yet. Want to add one now?</p>
<% end %>