<div class="page-content">
  <p class="large">
    Welcome to Kkubby! A place to organize your K-Beauty products and share them with your friends.
  </p>
  <p class="large">
    Organize your current products on our preset shelves (or customize them by adding or renaming your shelves).
    Save products to your shelf, so you can add notes or mark it as a wishlist item.
    Easily share your routine with friends using your Kkubby link.
  </p>
  <p class="large">Feel free to signup and try it out!</p>
</div>
