<div class="page-content">
  <p>
    Welcome to Kkubby! A place to organize your K-Beauty products and share them with your friends.
  </p>
  <ul class="display-text">
    <li>Organize your current products on our preset shelves (or customize them by adding or renaming your shelves)</li>
    <li>Save products to your shelf, so you can add notes or mark it as a wishlist item.</li>
    <li>Easily share your routine with friends using your Kkubby link.</li>
  </ul>
  <p>Feel free to signup and try it out!</p>
</div>
