<div class="page-content">
  <div class="box">
    <p>
      Welcome to Kkubby! A place to organize your K-Beauty products and share them with your friends. Feel free to signup and
      try it out!
    </p>
  </div>
</div>
