<% cache @user do %>
  <% if @shelves.present? %>
    <% if can_edit? %>
      <%= render partial: 'user_shelves' %>
    <% else %>
      <%= render partial: 'readonly_user_shelves' %>
    <% end %>
  <% else %>
    <p>No shelves created yet. Want to add one now?</p>
  <% end %>
<% end %>