<% if @shelves.present? %>
  <% if can_edit? %>
    <%= render partial: 'user_shelves', cached: true %>
  <% else %>
    <%= render partial: 'readonly_user_shelves', cached: true %>
  <% end %>
<% else %>
  <p>No shelves created yet. Want to add one now?</p>
<% end %>
