// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme';

.page-content {
  padding: 20px;
}

.box {
  padding: 10px;
  background-color: darken($body-color, 0.2);
  border-radius: 5px;
}
.shade {
  box-shadow: -4px 3px 10px #333333;
}

.form-content {
  input[type=text],
  input[type=password],
  textarea {
    margin-right: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  textarea {
    height: 300px;
    resize: none;
    overflow: auto;
  }
}

.product-list {
  td {
    min-height: 150px;
  }
}

.product-img {
  border-radius: 5px;
  height: initial;
  width: 49%;
  max-width: 250px;
  display: inline-block;

  &.wishlist {
    opacity: 0.6;
  }
}

.product-search-img {
  border-radius: 5px;
  height: initial;
  max-height: 200px;
  min-height: 100px;
  display: inline-block;
}

.original-product-img {
  border-radius: 5px;
  height: initial;
  margin: 0 10px 10px 0;
  max-width: 100%;
}

// simulate the clickable logo
.home-link-box {
  width: 270px;
  height: 80px;
  float: left;
}

#close-alert {
  height: 26px;
  font-size: 14px;
  color: $body-color;
}

table.shelves {
  border-spacing: 20px 20px;

  td {
    padding: 15px 10px 10px 10px;
    position: relative;

    .add-product {
      font-size: 20px;
      border-radius: 50%;
      border: none;
      position: absolute;
      top: -17px;
      right: -17px;
      text-decoration: none;
      padding: 0 9px 3px 9px;
    }

    .shelf-name {
      position: relative;
      top: -17px;
      margin-bottom: -15px; // offset for padding

      span {
        //background: $body-color;
        padding: 2px 3px;
        border-radius: 5px;
        font-size: 14px;
      }

      form {
        display: none; // initially hidden
      }

      input[type=text] {
        background: $body-color;
        border: none;
        font-size: 14px;
        padding-left: 3px;
        padding-top: 2px;
        border-radius: 5px;
      }
    }
  }

  .add-new-shelf {
    cursor: pointer;
  }

  .add-new-shelf-text {
    text-align: center;
    vertical-align: center;
  }
}

.top-bar {
  padding: 20px;
}

.top-bar-username {
  position: absolute;
  left: 119px;
  top: 14px;
  font-size: 18px;
  text-transform: capitalize;
  font-family: Asul, "Times New Roman", Times, serif;
}

.top-bar-content {
  height: 80px;
  background: image-url('logo.svg') left no-repeat;

  .hamburger {
    float: right;
    padding-top: 10px;

    div {
      width: 33px;
      height: 4px;
      background-color: #F7F7F7;
      margin: 6px 0;
    }
  }
}

// Maybe differentiate these later
.box-type-alert, .box-type-notice, .box-type-calm {
  color: $body-color;
  background: #EEE;
  padding-left: 20px;
  padding-right: 5px;
}

.btn {
  font-size: 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 8px;
  color: $body-color;
  -webkit-appearance: none;
  background-color: #F7F7F7;
  cursor: pointer;
  outline: none;
  border: 1px solid $body-color;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;

  &:hover {
    text-decoration: none;
  }
  &.wide {
    width: 100%
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.x-small {
  font-size: 10px;
  line-height: 12px;
}

.small {
  font-size: 12px;
  line-height: 14px;
}

.normal {
  font-size: 13px;
  line-height: 16px;
}

.medium-minor {
  font-size: 14px;
  line-height: 1.6;
}

.medium {
  font-size: 15px;
  line-height: 1.7;
}

.medium-major {
  font-size: 16px;
  line-height: 1.7;
}

.large-minor {
  font-size: 17px;
  line-height: 1.8;
}

.large {
  font-size: 18px;
  line-height: 1.8;
}

.huge {
  font-size: 25px;
  line-height: 2;
}

.bold {
  font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.display-text {
  margin: 0;
  li {
    padding: 10px 0;
    margin: 0;
    list-style: circle;
  }
}

.footer {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.divider {
  border-bottom: 1px solid #DDD;
}